/*
honeydew: E8F7EE
ash gray: 000
rose gold: F7CAC9
olive drab: 3C362A
periwinkle: C9D6EA
*/
@import url('https://fonts.googleapis.com/css?family=Manrope');
* {
  font-family: "Manrope", monospace;
  background: #fff;



}

