#main-label-cont {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main-label {
    display: flex;
    justify-content: center;
    font-size: 50px;
}
#contact {
    color: #131200;
    transition: all 400ms ease;
    background: transparent !important;
}
#us {
    color: #131200;
    transition: all 400ms ease;
    background: transparent !important;
}
#form-main {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#form-container {
    height: 72vh;
    display: flex;
    justify-content: center;
}
#form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#label {
    color: red;
    margin-bottom: .75vh;
    font-size: 26px;
}

input, textarea {
    color: #131200;
}
textarea {
    text-align: left !important;
}
input::placeholder, textarea::placeholder{
    font-style: italic;
    text-align: center !important;
}
input:focus::placeholder {
    color: transparent;
}
textarea:focus::placeholder {
    color: transparent;
}
.short-input {
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 6vh;
}
.short-input:focus {
    border: none;
    outline: none;
}
.long-input {
    text-align: center;
    border: none;
    outline: none;
    resize: none;
    height: auto !important;
    margin-bottom: 2vh;
    overflow-y: hidden;
}
.long-input:focus {
    border: none;
    outline: none;
}
#submit-cont {
    width: 100%;
    align-items: center;
}
#submit {
    font-family: "Roboto";
    width: auto;
    font-size: 18px;
    border: none;
    color: #71797E;
    transition: all 250ms;
}
#submit:hover {
    color: red;
    transform: scale(1.07);
}