@import url('https://fonts.googleapis.com/css?family=Manrope');
* {
  font-family: "Manrope", monospace;
  background: #fff;
}
#header {
  margin-top: 1vw;
  width: 100vw;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#header > div {
  display: flex;
  flex-direction: row;
}
#t1 {
  width: 37vw;
  justify-content: flex-end;
  font-size: 70px;
  color: #131200;
}
#t2 {
  width: 26vw;
  justify-content: center;
  font-size: 110px;
  color: red;
}
#t3 {
  width: 37vw;
  justify-content: flex-start;
  font-size: 70px;
  color: #131200;
}
#h-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* #content {
    display: flex;
    justify-content: center;
  }
#content > div {
  width: auto;
  height: 78vh;
} */
#flags-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 68vh;
}
#flags {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
#flag {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #131200;
  height: 100%;
}
#flag > div {
  display: flex;
  justify-content: center;
  transition: all 400ms ease;
}
#flag > div > button {
  border: none;
}
#flag > div > span {
  color: #131200;
  transition: all 400ms ease;
}
#flag > div > span:hover {
  color: red;
}
#img {
  transition: all 250ms;
}
#img:hover {
  transform: scale(1.08);
}

