#selector {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    height: 35vh;
}
#levels {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}
#level {
  margin-right: 1vw;
}
#level > button {
  width: auto;
  font-size: 18px;
  border: none;
  outline: none;
  color: #131200;
  transition: all 250ms;
}
#level>button:hover {
  transform: scale(1.05);
  color: red;
}
#padderG {
    margin-top: 2vh;
    height: 35vh;
}