#selector {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    height: 35vh;
}
#levels {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block-end: 0px;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}
#level {
  margin-right: 1vw;
}
#level > button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: "Roboto";
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #71797E;
  transition: all 250ms;
}
#level > button:hover {
  color: red;
  transform: scale(1.07);
}
#padderG {
    margin-top: 2vh;
    height: 35vh;
}